<div id="<%= dom_id monument_local %>">
  <p>
    <strong>Nome:</strong>
    <%= monument_local.name %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= monument_local.address %>
  </p>

  <p>
    <strong>Data de abertura:</strong>
    <%= monument_local.opening_date %>
  </p>

</div>
